@media screen and (max-width: 1200px) {
    .navigation {
        flex-direction: column;
        margin-bottom: 30px;
    }

    .nav-left {
        flex-direction: column;
        text-align: center;
        margin-bottom: 20px;
    }

    /* #hr{
        display: none;
    } */

    .home-article {
        flex-direction: column;
        margin: 10px 0;
    }

    .home-article-img {
        text-align: center;
        /* width: 70vw; */
    }

    .home-article-content {
        text-align: center;
    }

    /* .year-box{
        top: 53px;
        font-size: 12px;
        display: flex;


    }

    .year-box div{
        margin: 0;
        padding: 0 3px;

    } */

    .year-box {
        display: none;
    }

    h2 {
        text-align: center;
    }

    .form-input {
        width: 50%;
    }

    .post-img {
        height: 20vh;
    }

    .olbers {
        flex-direction: column;
    }

    .olbers-left {
        text-align: center;
    }

    .olbers-right {
        margin: 0;
        padding: 10px;
    }
}