.post-img {
    height: 60vh;
    overflow: hidden;
    /* margin-top: 20px; */
}

.post-img img {
    width: 100%;
}

.welcome-post-content {}

.welcome-post-content-left {
    font-family: var(--font1);
    /* width: 50%; */
    padding-right: 10px;
    padding: 25px;
    z-index: 1;
}

.welcome-post-content-left h1 {
    text-align: center;
}

.welcome-post-content-right {
    /* width: 50%; */


}

/* .row{

} */

.welcome-post-meta {
    display: flex;
    justify-content: space-between;
}

.author-info {
    margin: 12px 0px;
}

.author-info div {
    padding: 2px 0px;
    font-family: var(--font2);
    color: darkgray;
}

.social {
    align-self: center;
    padding-right: 20px;
    cursor: pointer;
}